@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    background: linear-gradient(to bottom, rgb(35, 156, 223) 16%, rgb(54, 125, 174) 55%);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    background-color: rgb(35, 156, 223);
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: solid 2px white;

}

.header h1 {
    font-weight: 400;
    font-size: 40px;
}

.header img {
    width: 100px;
    height: 83px;
}



.navbarDash {
    width: 400px;
    display: flex;
    margin-left: 35%;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: white;
    
}
.header .exitLogo{
    display: flex;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}
.header a {
    text-decoration: none;
    color: white;
    
}

/* Conteúdo */
.informacao {
    color: white;

}

.informacao h2 {
    font-size: 41px;

}

.informacao .titulo {
    margin-top: 5%;
    margin-left: 25vh;
    margin-right: 40%;
    margin-bottom: 3%;
    width: 80%;
}

.containerPedido {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-left: 10%;
}


.containerPedido #pedidos {
    font-size: 25px;
    font-weight: bold;
    border-radius: 30px;
    width: 20%;

}

.ultimoAlerta h4{
    color: black;
    background-color: white;
    height: 20px;
    width: 20%;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-self: center;
    justify-content: center;
}
.KPI{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: center;
    width: 80%;
    margin: 3%;
}
.KPI_Horario{
    color: black;
    background-color: white;
    height: 170px;
    width: 25%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center; 
}
.KPI_Duracao{
    color: black;
    background-color: white;
    height: 170px;
    width: 25%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
}
.KPI_Temp{
    color: black;
    background-color: white;
    height: 170px;
    width: 25%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
}

.KPI p {
    font-size: 180%;
}

.grafico {
    display: flex;

    justify-self: center;
    width: 80%;
    background-color: white;
   
}


.mensagemAlerta {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 5%;
    margin-left: 25vh;
    margin-right: 40%;
    margin-bottom: 3%;
    width: 80%;

}





/*fotter*/


.redes_sociais {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25%;
    padding-inline: 37%;
}

.insta {
    width: 70px;
    height: 70px;
}

.x {
    width: 75px;
    height: 45px;
    margin-top: 19%;
}

.linkedin {
    width: 75px;
    height: 70px;
}

.endereco {
    display: flex;
    justify-content: center;
    margin-top: 4%;
}

.telefone_e_mail {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-inline: 17%;
    margin-top: 4%;
    margin-left: 7%;
}

.telefone {
    display: flex;
    align-items: center;
}

.telefone a {
    text-decoration: none;
    color: white;
}

.mail {
    display: flex;
    align-items: center;
}

.mail a {
    text-decoration: none;
    color: white;
}

.logo_final {
    display: flex;
    justify-self: center;
    margin-top: 4%;
    margin-bottom: 3%;
}